h1 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

form {
  background-color: #66bb6a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input, select, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff1744;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #d50000;
}

h2 {
  color: #e91e63;
  margin-top: 0;
  padding-left: 10px;
}

.task-item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Pending {
  background-color: #ffb74d;
}

.Progress {
  background-color: #8d6e63;
}

.Completed {
  background-color: lightgreen;
}

button.delete {
  background-color: red;
}

button.progress {
  background-color: lightgreen;
}

button.delete:hover {
  background-color: #ff1744;
}

button.progress:hover {
  background-color: lightgreen;
}
